{{- $url := split .Permalink "/" -}}
{{- $page_slug := index $url (sub (len $url) 2) -}}

<aside id="sidebar" class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width" aria-label="Sidebar">
  <div class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
      <div class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
        <ul class="pb-2 space-y-2">
          <li>
            <form action="#" method="GET" class="lg:hidden">
              <label for="mobile-search" class="sr-only">Search</label>
              <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" name="email" id="mobile-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search">
              </div>
            </form>
          </li>
          <li>
            <a href="{{ "/" | relURL }}" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
            <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
            </svg>
            <span class="ml-3" sidebar-toggle-item>Главная</span>
            </a>
          </li>
          <li>
            <a href="{{ "cloud" | relURL }}" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
            <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.383 4.076a6.5 6.5 0 0 0-6.887 3.95A5 5 0 0 0 7 18h3v-4a2 2 0 0 1-1.414-3.414l2-2a2 2 0 0 1 2.828 0l2 2A2 2 0 0 1 14 14v4h4a4 4 0 0 0 .988-7.876 6.5 6.5 0 0 0-5.605-6.048Z"/>
                <path d="M12.707 9.293a1 1 0 0 0-1.414 0l-2 2a1 1 0 1 0 1.414 1.414l.293-.293V19a1 1 0 1 0 2 0v-6.586l.293.293a1 1 0 0 0 1.414-1.414l-2-2Z"/>
            </svg>
            <span class="ml-3" sidebar-toggle-item>Облачные решения</span>
            </a>
          </li>
          <li>
            <a href="{{ "/" | relURL }}" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
            <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.484 9.166 15 7h5m0 0-3-3m3 3-3 3M4 17h4l1.577-2.253M4 7h4l7 10h5m0 0-3 3m3-3-3-3"/>
            </svg>
            <span class="ml-3" sidebar-toggle-item>Наши компетенции</span>
            </a>
          </li>
          <li>
            <a href="{{ "/" | relURL }}" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
            <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2488_6932)">
                <path d="M20 60C20 37.9086 37.9086 20 60 20V20C82.0914 20 100 37.9086 100 60V60C100 82.0914 82.0914 100 60 100V100C37.9086 100 20 82.0914 20 60V60Z" fill="white"/>
                <path d="M59.9998 120C45.0899 119.64 39.1877 109.673 37.3861 100.047C36.4082 94.8144 36.8371 86.1138 37.3861 83.0083C38.2783 77.9468 39.7196 70.672 41.3152 62.2305C43.5972 50.1344 49.6538 43.2542 62.7279 40.8007L84.1132 36.7167C84.6794 33.5425 85.7533 25.1358 84.7753 19.9542C82.9566 10.2259 75.4588 0.154419 60.24 2.17953e-06C27.0916 5.07745e-06 -0.000214137 26.8516 -0.000211239 60C-0.000208341 93.1484 26.8514 120 59.9998 120Z" fill="url(#paint0_linear_2488_6932)"/>
                <path d="M59.9998 0C74.9097 0.360309 82.2874 10.346 84.089 19.9714C85.067 25.2045 83.1625 33.8862 82.6134 36.9917C81.7212 42.0532 80.28 49.328 78.6843 57.7695C76.4024 69.8656 70.3458 76.7458 57.2717 79.1993L37.3709 83.1066C36.8047 86.2807 34.9345 94.8595 35.9125 100.041C37.7312 109.769 44.5408 119.846 59.7596 120C92.908 120 120 93.1484 120 60C120 26.8516 93.1482 0 59.9998 0Z" fill="url(#paint1_linear_2488_6932)"/>
              </g>
              <defs>
                <linearGradient id="paint0_linear_2488_6932" x1="-0.000431424" y1="120" x2="94.4319" y2="6.72576" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#D2DFFF"/>
                  <stop offset="1" stop-color="#4E7FFF"/>
                </linearGradient>
                <linearGradient id="paint1_linear_2488_6932" x1="120" y1="-2.85362e-06" x2="24.0889" y2="109.927" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#D2DFFF"/>
                  <stop offset="1" stop-color="#4E7FFF"/>
                </linearGradient>
                <clipPath id="clip0_2488_6932">
                  <rect width="120" height="120" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <span class="ml-3" sidebar-toggle-item>Yandex cloud</span>
            </a>
          </li>
          <li>
            <a href="{{ "/" | relURL }}" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
            <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 7.205c4.418 0 8-1.165 8-2.602C20 3.165 16.418 2 12 2S4 3.165 4 4.603c0 1.437 3.582 2.602 8 2.602ZM12 22c4.963 0 8-1.686 8-2.603v-4.404c-.052.032-.112.06-.165.09a7.75 7.75 0 0 1-.745.387c-.193.088-.394.173-.6.253-.063.024-.124.05-.189.073a18.934 18.934 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.073a10.143 10.143 0 0 1-.852-.373 7.75 7.75 0 0 1-.493-.267c-.053-.03-.113-.058-.165-.09v4.404C4 20.315 7.037 22 12 22Zm7.09-13.928a9.91 9.91 0 0 1-.6.253c-.063.025-.124.05-.189.074a18.935 18.935 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.074a10.163 10.163 0 0 1-.852-.372 7.816 7.816 0 0 1-.493-.268c-.055-.03-.115-.058-.167-.09V12c0 .917 3.037 2.603 8 2.603s8-1.686 8-2.603V7.596c-.052.031-.112.059-.165.09a7.816 7.816 0 0 1-.745.386Z"/>
            </svg>
            <span class="ml-3" sidebar-toggle-item>Оборудование</span>
            </a>
          </li>
          <li>
            <a href="{{ "/" | relURL }}" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
            <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
            <span class="ml-3" sidebar-toggle-item>Контакты</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="absolute bottom-0 left-0 justify-center hidden w-full p-4 space-x-4 bg-white lg:flex dark:bg-gray-800" sidebar-bottom-menu>
      Улучшайте свою компанию вместе с нашей помощью
    </div>
  </div>
</aside>

<div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>
